{{ define "main" }}

<section class="site-raum-header">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-8">
        <div class="site-raum-header-content">
          <h1>
            {{ .Title | safeHTML }}
          </h1>
        </div>
      </div>
      <div class="col-lg-4">
        <a href="#raum" class="site-raum-header-action scroll-to">
          <span>{{ .Description | safeHTML }}</span>
          <img src="{{ "images/arrow-down.svg" | absURL }}" alt="arrow-down">
        </a>
      </div>
    </div>
  </div>
</section>

<section class="site-raum" id="raum">
  <div class="container">
    <div class="row">
      {{ range (.Paginator 10).Pages }}
      <div class="col-lg-6 col-md-10 mx-auto">
        <a href="{{ .Permalink }}" class="read-more">
          <div class="site-raum-item">
            <div class="site-raum-item-thumb">
              <img src="{{ .Params.Image | absURL }}" alt="raum-thumb">
            </div>
            <div class="site-raum-item-content">
              <span>für {{ delimit .Params.audience ", " }}</span>
              <h3>{{ .Title }}</h3>
              <span>mit {{ delimit .Params.lead ", " }}</span>
            </div>
          </div>
        </a>
      </div>
      {{ end }}
      <div class="col-12">
        <div class="site-raum-pagination">
          {{ template "_internal/pagination.html" . }}
        </div>
      </div>
    </div>
  </div>
</section>

{{ partial "call-to-action.html" . }}

{{ end }}