//site color variables
$body-color: #fff;
$primary-color: #f4c405;
$secondary-color: #a7a7a7;
$text-color: #535453;
$text-color-dark: #323232;
$site-ease: cubic-bezier(0.36, 0.03, 0, 0.91);
$gray: #F7F9FF;
$dark-gray: #646569;

// solid colors
$white: #fff;
$black: #000;

// Font Variables
$primary-font: 'Josefin Sans', sans-serif;
$secondary-font: 'Montserrat', sans-serif;
