{{ with .Site.Params.call_to_action }}
  {{ if .enable }}
  <section class="site-contact">
    <div class="container">
      <div class="row">
        <div class="col-lg-5">
          <h1 class="site-contact-title">
            {{ .title | safeHTML }}
          </h1>
        </div>
        <div class="col-lg-6 ml-auto">
          <div class="site-contact-form">
            <h4>{{ .form_heading }}</h4>
            <form id="contact-form" action="{{ .formspreeFormUrl }}" method="POST">
              <div class="row">
                <div class="col-lg-6">
                  <input type="text" class="form-control" name="name" id="name" placeholder="Name">
                </div>
                <div class="col-lg-6">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Email">
                </div>
                <div class="col-12">
                  <textarea class="form-control" id="form-text" name="text" rows="6" placeholder="Nachricht"></textarea>
                </div>
                <div class="col-12">
                  <button type="submit" class="btn btn-primary" id="contact-form-button">
                    <span class="btn-area">
                      <span data-text="Senden">
                        Senden
                      </span>
                    </span>
                  </button>
                </div>
                <p id="contact-form-status"></p>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  {{ end }}
{{ end }}